package views

import "nedas/shop/src/layouts"
import "nedas/shop/src/components"

templ Account() {
	@layouts.Layout("Account") {
		@components.Header()
		<main>
			<p>Dis is a account!!!</p>
		</main>
	}
}
