package views

import "nedas/shop/src/layouts"
import "nedas/shop/src/components"

templ Account(email string) {
	@layouts.Layout("Account") {
		@components.Header()
		<main>
			<p>Ur email is { email }</p>
		</main>
	}
}
