package views 

import (
	"nedas/shop/pkg/models"
	"nedas/shop/src/components"
	"nedas/shop/src/layouts"
)

templ Address(address models.Address) {
	@layouts.Layout("Address | Shop") {
		@components.Header()
		<main>
			@components.AddressForm(address, "")
		</main>
	}
}
