package views

import "nedas/shop/src/layouts"
import "nedas/shop/src/components"

templ Bag(products []components.BagProductContext) {
	@layouts.Layout("Bag") {
		@components.Header()
		<main>
			<ul hx-boost="true" class="flex flex-col gap-4 p-4">
				for _, p := range products {
          @components.BagProduct(p)
				}
			</ul>
		</main>
	}
}
