package views

import "nedas/shop/src/layouts"
import "nedas/shop/src/components"

templ Index() {
	@layouts.Layout("Shop") {
		@components.Header()
		// need to change url
		<main>
			@components.Search("")
		</main>
	}
}
