package views

import "nedas/shop/src/layouts"

templ Index() {
  @layouts.Layout("Shop") {
    <input hx-post="/htmx/validate_path" hx-trigger="load, keyup changed delay:500ms" hx-swap="afterend" name="url" type="text" placeholder="Put nike by you shoe address.">
  }
}
