package views

import (
	"nedas/shop/src/components"
	"nedas/shop/src/layouts"
)

templ Login(url string) {
	@layouts.Layout("Login") {
		@components.Header()
		<a href={ templ.SafeURL(url) }>
			Google
		</a>
	}
}
