package views 

import (
	"nedas/shop/src/components"
	"nedas/shop/src/layouts"
)

// on ma phone onload does not work
templ Sneaker(product components.Product, sizes []string) {
	@layouts.Layout(product.Title) {
		@components.Header()
		<main class="hover:opacity-75 opacity-50 hover:scale-150 scale-125">
			@components.Sneaker(product, sizes)
		</main>
	}
}
