package views 

import "nedas/shop/src/layouts"
import "nedas/shop/src/components"

// on ma phone onload does not work
templ Sneaker(c components.SneakerContext) {
	@layouts.Layout(c.Title) {
		@components.Header()
		<main>
			@components.Sneaker(c)
		</main>
	}
}
