package components

templ Header() {
	<nav class="p-4 flex justify-between items-center shadow" hx-boost="true">
		<div>
			<a href="/">BRAND</a>
		</div>
		<ul class="flex gap-4">
			<li>
				<a href="/account"><i class="fa-solid fa-user"></i></a>
			</li>
			<li>
				<a href="/bag"><i class="fa-solid fa-bag-shopping"></i></a>
			</li>
		</ul>
	</nav>
}
